body {
    background-size: 100%;
    background-repeat: no-repeat;
}

.form {
  margin: 0 auto;
  padding: 100px 30px 0;
}

.myline {
    height: 100px;
}

.movieRow {
    height: 500px;
}

.nopadding {
   padding: 0;
}

.posterRow {
    height: 100%;
}
